body {
  font-family: Montserrat, sans-serif;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%23588061" fill-opacity="0.9"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-color: #869F77;
}
#Page-1{
  background-color: #588061;
}
footer {
  background-color: #588061;
  color: white;
  padding: 10px;
  
}
li {
  background-color: #F9E0DB;
  padding: 10px;
  border: #D4786E 3px solid;
  border-radius: 12px;
  width: 100px;
  display: inline-block;
  text-align: center;
}

ul {
  color: #2d3250;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}
header {
  background-color: white;
  border: #D4786E 3px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(249,224,219,0.9);
  height: 75px;
  padding: 10px;
}
nav {
  place-items: center;
}
a {
  text-decoration: none;
  color: #D4786E;
  }
article {
  background-color: #F9E0DB;
  padding: 15px;
  margin: 10px;
  border: #D4786E solid 3px;
}